:root {
    --cor-primaria: #528AC8;
    --cor-secundaria: #7CC7B9;
    --cor-fundo: #f9f9f9;
    --cor-texto: #333;
    --cor-destaque: #e74c3c;
    --cor-branca: #f9f9f9;
    --cor-verdeHover: #42ab49;
}