* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.Toastify__toast {
  top: calc(93px - .5rem);
}

@media( max-width: 480px){
  .Toastify__toast {
    margin: .5rem;
    top: 93px;
  }
}